/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'roboto';
    src: url('/assets/fonts/roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'barbarian';
    src: url('/assets/fonts/barbarian/Barbarian.ttf');
}

@font-face {
    font-family: 'danger';
    src: url('/assets/fonts/danger/Another\ Danger\ -\ Demo.otf');
}

@font-face {
    font-family: 'learner';
    src: url('/assets/fonts/learner/Letters\ for\ Learners.ttf');
}

@font-face {
    font-family: 'spiral';
    src: url('/assets/fonts/spiral/SPIRI___.TTF');
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'roboto';
    font-size: 16px;
    line-height: 1.5em;
    padding: 0;
    margin: 0;
    background: #f1f1f1;
}

h1, h2, h3, h4, h5, h6 {
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
}

p, ul {
    font-size: 16px;
    color: #848484;
    font-family: 'Times New Roman', Times, serif;
}

.container {
    width: 80%;
    overflow: hidden;
    margin: 0 auto;
}

.btn-seen {
    height: 40px;
    padding: 5px;
    width: 200px;
    color: #fff;
    background: rgba(56, 150, 6, 1);
    border-radius: 3px;
    border: 0;
    margin-top: 30px;
    text-transform: uppercase;
    font-family: 'roboto';
    font-size: 16px;
}

.btn-seen:hover {
    color: rgba(56, 150, 6, 1);
    background: #fff;
    transition: 0.5s ease-in-out;
}

#text-center .title {
    color: #40423F;
    text-transform: capitalize;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 36px;
    font-family: 'roboto';
}

.text-border-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.text-border-bottom::after {
    content: '';
    border-bottom: 2px solid rgba(56, 150, 6, 1);
    padding-top: 40px;
    width: 150px;
}

.font-roboto {
    font-family: 'roboto';
}

.font-learner {
    font-family: 'learner';
}

.font-spiral {
    font-family: 'spiral';
}

.green-color {
    color: rgba(56, 150, 6, 1);
}

.title-panel {
    color: rgba(56, 150, 6, 1);
}

/* hero */

#hero {
    position: relative;
    background: url('https://images.wallpaperscraft.com/image/greens_summer_grass_trees_clouds_sky_coast_5727_1280x720.jpg') no-repeat;
    background-size: cover;
    height: 444px;
    text-align: center;
    padding: 50px;
}

#hero h2 {
    text-transform: uppercase;
    font-weight: normal;
}

#hero .description {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#hero .description.hidden {
    opacity: 0;
}

#hero .description h1 {
    font-size: 86px;
    font-weight: bold;
    text-transform: capitalize;
    line-height: 1em;
    opacity: 1;
    transition: all 1.5s ease-in-out;
}

#hero .description.hidden h1 {
    transform: translateX(0px) translateY(350px);
}

#hero .description p {
    text-transform: capitalize;
    color: #fff;
    transition: all 1.5s ease-in-out;
}

#hero .description.hidden p {
    transform: translateX(0px) translateY(-350px);
}

#hero .description p a {
    color: #fff;
    padding: 5px;
    transition: all 1.5s ease-in-out;
}

#hero .description button {
    height: 45px;
    font-size: 18px;
    width: 200px;
    background: rgba(56, 150, 6, 1);
    border: 0;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    font-weight: normal;
    margin-top: 10px;
}

#hero .description button:hover {
    background: #fff;
    color: rgba(56, 150, 6, 1);
    transition: .5s ease-in-out;
}

#upscroll img {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

#upscroll img:hover {
    opacity: 0.5;
}

/* header */

header {
    height: 70px;
    padding-top: 30px;
}

header label {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
}

header #toggle {
    cursor: pointer;
    display: none;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
    height: 30px;
    padding: 10px;
    z-index: 100;
}

header a {
    float: left;
    text-decoration: none;
}

header a h1 {
    font-size: 36px;
    color: rgba(56, 150, 6, 1);
    font-weight: bold;
    text-transform: uppercase;
}

header nav {
    float: right;
}

header nav ul {
    list-style: none;
}

header nav li {
    display: inline;
}

header nav li i {
    padding-left: 5px;
}

header nav .drop-content {
    display: none;
}

header nav a {
    color: #848484;
    margin-left: 15px;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 15px;
}

header nav a:hover {
    color: rgba(56, 150, 6, 1);
}

header nav .dropdown {
    overflow: hidden;
    float: left;
}

header nav .dropdown:hover {
    color: rgba(56, 150, 6, 1);
}

header nav .dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 160px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.6);
    z-index: 1;
    border-radius: 2px;
}

header nav .dropdown .dropdown-content a {
    float: none;
    padding: 8px 10px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 16px;
}

header nav .dropdown .dropdown-content a:hover {
    color: rgba(56, 150, 6, 1);
}

header nav .dropdown:hover .dropdown-content {
    display: block;
}

main {
    padding: 0;
    margin: 0;
}

/* business */

#business {
    text-align: center;
    padding-top: 30px;
    height: auto;
    color: #f4f4f4;
}

/* #business .description {
    border-bottom: 1px solid rgba(56, 150, 6, 1);
    margin-bottom: 10px;
    height: 20%;
} */

#business h1 {
    color: #40423F;
    text-transform: capitalize;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 36px;
}

#business .description {
    width: 600px;
    margin: 0 auto;
    color: #939790;
    padding-bottom: 50px;
}

#business img {
    border-radius: 5px;
    width: 100%;
    height: 444px;
}

#business .card {
    display: inline-table;
    width: 30%;
    text-align: left;
    padding: 10px;
    box-shadow: 1px 1px 1px 1px rgba(190, 194, 187, 0.6);
    border-radius: 5px;
    margin-left: 5px;
    margin-top: 20px;
    transition: all 1.5s ease-in-out;
}

#business .card.hidden {
    opacity: 0;
    transform: translateX(0px) translateY(200px);
}

/* #business .card.hidden {} */

#business .card:hover {
    box-shadow: 1px 1px 10px rgba(56, 150, 6, 1);
    background: rgba(56, 150, 6, 1);
    transition: 1s ease-in-out;
}

#business .card h1 {
    font-size: 16px;
    font-weight: bold;
    text-transform: capitalize;
}

#business .card:hover h1 {
    color: #fff;
}

#business .card p {
    color: #848484;
    text-transform: inherit;
    font-size: 14px;
}

#business .card:hover p {
    color: #fff;
}

/* #business button {
    height: 40px;
    padding: 5px;
    width: 200px;
    color: #fff;
    background: rgba(56, 150, 6, 1);
    border-radius: 3px;
    border: 0;
    margin-top: 30px;
    text-transform: uppercase;
}

#business button:hover {
    color: rgba(56, 150, 6, 1);
    background: #fff;
    transition: 0.5s ease-in-out;
} */

/* boxes */
#boxes {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
    transition: all 1.5s ease-in-out;
}

#boxes.hidden {
    opacity: 0;
    transform: translateX(0px) translateY(400px);
}


#boxes .box {
    display: inline-table;
    width: 30%;
    padding: 10px 1px 10px 1px;
    box-shadow: 1px 1px 8px rgba(190, 194, 187, 0.6);
    margin: 12px;
    border-radius: 4px;
}

#boxes .box:hover {
    box-shadow: 1px 1px 10px rgba(56, 150, 6, 1);
    background: rgba(56, 150, 6, 1);
    transition: 0.5s ease-in-out;
}

#boxes .box i {
    float: left;
    width: 20%;
    height: 100%;
    color: #848484;
    font-size: 36px;
}

#boxes .box:hover i {
    color: #fff;
}

#boxes .box .description {
    float: right;
    width: 70%;
    text-align: left;
    margin-left: 20px;
}

#boxes .box:hover .description {
    color: #fff;
}

#boxes .box .description h1 {
    font-size: 20px;
    color: #40423F;
    font-weight: bold;
    text-transform: capitalize;
}

#boxes .box:hover .description h1 {
    color: #fff;
}

#boxes .box .description p {
    color: #939790;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#boxes .box:hover .description p {
    color: #fff;
}

#boxes .box .description a {
    text-decoration: none;
    color: rgba(56, 150, 6, 1);
    text-transform: capitalize;
}

#boxes .box:hover .description a {
    color: #fff;
}

#boxes .box .description a:hover {
    text-decoration: underline;
}

/* our-gallery */

#our-gallery {
    text-align: center;
    height: auto;
    padding: 50px 1px 50px 1px;
}

#our-gallery .title {
    padding: 10px;
    font-size: 36px;
    text-transform: capitalize;
    color: #40423F;
}

#our-gallery .description {
    width: 600px;
    margin: 0 auto;
}

#our-gallery .description::after {
    margin-top: 30px;
    margin-bottom: 30px;
}

#our-gallery .col-6 {
    position: relative;
    display: inline-table;
    min-height: 255px;
    width: 58%;
    background: green;
    background-size: cover;
}

#our-gallery .col-6:hover {
    opacity: 0.5;
    box-shadow: 1px 1px 15px rgba(206, 60, 115, 1);
    transition: all 0.5s ease-in-out;
}

#our-gallery .col-6 .status {
    position: absolute;
    bottom: 10px;
    padding: 20px;
    text-align: left;
}

#our-gallery .col-6 .status h2 {
    text-transform: uppercase;
    opacity: 0.7;
}

#our-gallery .col-6 .status h1 {
    text-transform: capitalize;
}

#our-gallery .col-4 {
    position: relative;
    display: inline-table;
    height: 255px;
    width: 38%;
    background: red;
}

#our-gallery .col-4:hover {
    opacity: 0.5;
    box-shadow: 1px 1px 15px rgba(206, 60, 115, 1);
    transition: all 0.5s ease-in-out;
}

#our-gallery .col-4 .status {
    position: absolute;
    bottom: 10px;
    padding: 20px;
    text-align: left;
}

#our-gallery .col-4 .status h2 {
    text-transform: uppercase;
    opacity: 0.7;
}

#our-gallery .col-4 .status h1 {
    text-transform: capitalize;
}

/* our-team */

#our-team {
    text-align: center;
    padding: 50px 1px 50px 1px;
    background: #ffffff;
    opacity: 0.8;
}

#our-team .title {
    font-size: 36px;
    color: #40423F;
    font-weight: normal;
    text-transform: capitalize;
    padding: 5px;
}

#our-team .description {
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 16px;
    width: 700px;
    margin: 0 auto;
}

#our-team .description::after {
    content: "";
    border-bottom: 2px solid rgba(56, 150, 6, 1);
    width: 100px;
    margin-bottom: 30px;
    margin-top: 30px;
}

#our-team .card {
    display: inline-table;
    width: 30%;
    box-shadow: 1px 1px 10px rgba(190, 194, 187, 0.6);
    margin: 10px 5px 20px 2px;
    border-radius: 5px;
    padding: 10px;
}

#our-team .card:hover {
    box-shadow: 1px 1px 15px rgba(206, 60, 115, 1);
    background: rgba(56, 150, 6, 1);
    transition: 0.5s ease-in-out;
}

#our-team .card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#our-team .card .image-padding {
    border-radius: 80%;
}

#our-team .card h1 {
    color: #848484;
    font-size: 20px;
    text-transform: capitalize;
    padding-top: 20px;
}

#our-team .card:hover h1 {
    color: #fff;
}

#our-team .card h2 {
    color: #848484;
    font-size: 20px;
    opacity: 0.7;
    text-transform: capitalize;
    padding-top: 20px;
}

#our-team .card:hover h2 {
    color: #fff;
}

#our-team .card p {
    color: #40423F;
    opacity: 0.8;
    line-height: 1.6em;
    padding: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#our-team .card:hover p {
    color: #fff;
}

/* our-experties */

#our-experties {
    text-align: center;
    padding: 50px 1px 50px 1px;
}

#our-experties .title {
    color: #40423F;
    text-transform: capitalize;
}

#our-experties .description {
    width: 600px;
    margin: 0 auto;
}

#our-experties .card {
    display: inline-table;
    width: 30%;
    margin: 50px 5px 30px 5px;
    padding: 10px 5px 20px 5px;
    box-shadow: 1px 1px 10px rgba(190, 194, 187, 0.6);
    border-radius: 4px;
    transition: all 1.5s ease-in-out;
    cursor: pointer;
}

#our-experties .card.hidden {
    opacity: 0;
    transform: translateX(0px) translateY(400px);
}

#our-experties .card:hover {
    box-shadow: 1px 1px 10px rgba(56, 150, 6, 1);
    background: rgba(56, 150, 6, 1);
    transition: all 0.5s ease-in-out;
}

#our-experties .card i {
    color: rgba(56, 150, 6, 1);
    font-size: 46px;
    margin-bottom: 20px;
}

#our-experties .card:hover i {
    color: #fff;
}

#our-experties .card h1 {
    font-size: 20px;
    color: rgba(56, 150, 6, 1);
    text-transform: capitalize;
    margin-bottom: 20px;
}

#our-experties .card:hover h1 {
    color: #fff;
}

#our-experties .card p {
    font-size: 14px;
    text-align: center;
}

#our-experties .card:hover p {
    color: #fff;
}

/* blog */

#blog {
    text-align: center;
    padding: 30px 1px 30px 1px;
}

#blog .title {
    color: #40423F;
    text-transform: capitalize;
    font-size: 36px;
    padding: 5px;
    margin-bottom: 30px;
}

#blog .description {
    color: #40423F;
    text-transform: capitalize;
    opacity: 0.7;
    width: 600px;
    margin: 0 auto;
}

#blog .card {
    display: inline-table;
    position: relative;
    margin: 50px 2px 10px 2px;
    height: 500px;
    width: 30%;
    background: url('https://images.wallpaperscraft.com/image/lizard_forest_nature_green_73321_1280x720.jpg') no-repeat;
    background-size: 100% 40%;
    padding: 10px 10px 20px 10px;
    box-shadow: 1px 1px 10px rgba(190, 194, 187, 0.6);
    border-radius: 5px;
}

#blog .card:nth-child(3) {
    display: inline-table;
    position: relative;
    margin: 30px 2px 10px 2px;
    height: 390px;
    width: 30%;
    background: url('https://images.wallpaperscraft.com/image/lizard_nature_close-up_73318_1280x720.jpg') no-repeat;
    background-size: 100% 30%;
    padding: 10px 10px 20px 10px;
    box-shadow: 1px 1px 10px rgba(190, 194, 187, 0.6);
}

#blog .card:nth-child(6) {
    display: inline-table;
    position: relative;
    margin: 30px 2px 10px 2px;
    height: 390px;
    width: 30%;
    background: url('https://images.wallpaperscraft.com/image/lizard_nature_close-up_73318_1280x720.jpg') no-repeat;
    background-size: 100% 30%;
    padding: 10px 10px 20px 10px;
    box-shadow: 1px 1px 10px rgba(190, 194, 187, 0.6);
}

#blog .card:hover {
    box-shadow: 1px 1px 10px rgba(56, 150, 6, 1);
    transition: 0.5s ease-in-out;
}

#blog .card .card-main {
    position: absolute;
    top: 50%;
    text-align: left;
    padding: 1px 10px 1px 10px;
}

#blog .card .card-main h1 {
    font-size: 20px;
    color: #40423F;
    text-transform: capitalize;
}

#blog .card .card-main p {
    margin-top: 20px;
}

#blog .card .card-main .info {
    margin-top: 20px;
    width: 100%;
    height: 20px;
}

#blog .card .card-main .info h1 {
    float: left;
    color: #40423F;
    opacity: 0.6;
}

#blog .card .card-main .info p {
    float: right;
}

#blog .card .card-main a {
    color: rgba(56, 150, 6, 1);
    text-decoration: none;
    text-transform: capitalize;
}

#blog .card .card-main a:hover {
    text-decoration: underline;
    text-transform: capitalize;
    transition: 0.5s step-end;
}

#our-address {
    text-align: center;
    padding: 50px;
    transition: all 1.5s ease-in-out;
}

#our-address.hidden {
    opacity: 1;
    /* transform: translateX(0px) translateY(100px); */
}

#our-address .description {
    float: left;
    width: 40%;
    text-align: left;
}

#our-address .description h1 {
    color: #40423F;
    text-transform: capitalize;
    opacity: 0.8;
    margin-bottom: 10px
}

#our-address .description p {
    font-size: 14px;
    color: #40423F;
    text-transform: capitalize;
    opacity: 0.8;
    margin-bottom: 10px;
}

#our-address .description li {
    margin-top: 10px;
}

#our-address .description li i {
    font-size: 20px;
}

#our-address form {
    float: right;
    width: 50%;
    box-shadow: 1px 1px 8px rgba(56, 150, 6, 1);
    padding: 30px;
    margin: 10px 5px 10px 5px;
    border-radius: 5px;
}

#our-address form input[type="text"] {
    width: 90%;
    height: 30px;
    margin: 10px;
    border-radius: 5px;
    border: 0;
    padding: 5px;
    text-transform: capitalize;
}

#our-address form #message {
    height: 80px;
    width: 90%;
}

/* footer */

footer {
    position: relative;
    height: auto;
    background: rgba(56, 150, 6, 1);
    padding-bottom: 20px;
}

footer .footer-header {
    top: 30%;
    display: flex;
    margin-top: 20px;
}

footer .footer-header h1 {
    font-family: 'roboto';
    font-size: 16px;
    text-transform: capitalize;
}

footer .footer-header .footer-link {
    width: 20%;
    margin: 10px 20px 5px 20px;
}

footer .footer-header .footer-link li {
    display: inline;
}

footer .footer-header .footer-link li a {
    color: #f1f1f1;
    opacity: 0.7;
    text-decoration: none;
    font-family: 'roboto';
    font-size: 14px;
    text-transform: capitalize;
    font-weight: normal;
}

footer .footer-header .footer-link li a:hover {
    text-decoration: underline;
}

footer .row {
    width: 500px;
    margin: 0 auto;
    text-align: center;
}

footer li {
    display: inline;
}

footer li i {
    color: #f1f1f1;
    font-size: 30px;
    margin-left: 20px;
    opacity: 0.8;
}

footer li a {
    display: inline;
}

footer .description p {
    color: #f1f1f1;
    text-transform: capitalize;
    width: 400px;
    margin: 0 auto;
    text-align: center;
}

@media screen and (max-width:768px) {
    #hero {
        padding: 10px 10px 10px 10px;
    }
    #hero h2 {
        text-transform: uppercase;
        font-weight: normal;
    }
    #hero .description {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    #hero .description h1 {
        font-size: 36px;
        font-weight: bold;
        text-transform: capitalize;
        line-height: 1em;
    }
    header {
        height: 70px;
        padding-top: 30px;
    }
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
        background: #fff;
        height: 40px;
        padding: 10px;
        z-index: 100;
    }
    header a {
        float: none;
        text-decoration: none;
        text-align: center;
    }
    header a h1 {
        font-size: 36px;
        color: rgba(56, 150, 6, 1);
        font-weight: bold;
        text-transform: uppercase;
    }
    header label {
        display: block;
        cursor: pointer;
        position: relative;
        top: -45px;
        right: -280px;
    }
    header nav {
        display: none;
        width: 100%;
        margin-top: -50px;
        margin-left: 0px;
        padding-right: 0px;
        padding: 0px;
    }
    header nav li {
        display: block;
        width: 100%;
        border-bottom: 1px solid #f4f4f4;
        text-align: left;
        padding: 10px;
        margin: 0 auto;
        background: #fff;
    }
    header #toggle:checked+nav {
        display: block;
    }
    #business {
        text-align: center;
        padding-top: 30px;
        height: auto;
        color: #f4f4f4;
    }
    /* #business .description {
        border-bottom: 1px solid rgba(56, 150, 6, 1);
        margin-bottom: 10px;
        height: 20%;
    } */
    #business h1 {
        color: #40423F;
        text-transform: capitalize;
        padding-bottom: 5px;
        padding-top: 5px;
        font-size: 26px;
    }
    #business .description {
        width: 100%;
        margin: 0 auto;
        color: #939790;
        padding-bottom: 50px;
    }
    #business img {
        border-radius: 5px;
        width: 100%;
        height: 444px;
    }
    #business .card {
        display: inline-table;
        width: 90%;
        text-align: left;
        padding: 10px 10px 10px 10px;
        box-shadow: 1px 1px 1px 1px rgba(190, 194, 187, 0.6);
        border-radius: 5px;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 20px;
    }
    #boxes {
        text-align: center;
        margin-top: 30px;
        margin-bottom: 50px;
    }
    #boxes .box {
        display: inline-table;
        width: 90%;
        padding: 10px 10px 10px 10px;
        box-shadow: 1px 1px 8px rgba(190, 194, 187, 0.6);
        margin: 10px 0px 10px 0px;
        border-radius: 4px;
    }
    #our-gallery {
        text-align: center;
        height: auto;
        padding: 30px 1px 30px 1px;
    }
    #our-gallery .title {
        padding: 10px;
        font-size: 26px;
        text-transform: capitalize;
        color: #40423F;
    }
    #our-gallery .description {
        width: 100%;
        margin: 0 auto;
    }
    #our-gallery .description::after {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    #our-gallery .col-6 {
        position: relative;
        display: inline-table;
        min-height: 255px;
        width: 90%;
        background: green;
        background-size: cover;
    }
    #our-gallery .col-6 .status {
        position: absolute;
        bottom: 10px;
        padding: 20px;
        text-align: left;
    }
    #our-gallery .col-6 .status h2 {
        text-transform: uppercase;
        opacity: 0.7;
    }
    #our-gallery .col-6 .status h1 {
        text-transform: capitalize;
    }
    #our-gallery .col-4 {
        position: relative;
        display: inline-table;
        height: 255px;
        width: 90%;
        background: red;
    }
    #our-team {
        text-align: center;
        padding: 50px 1px 50px 1px;
        background: #ffffff;
        opacity: 0.8;
    }
    #our-team .title {
        font-size: 26px;
        color: #40423F;
        font-weight: normal;
        text-transform: capitalize;
        padding: 5px;
    }
    #our-team .description {
        display: flex;
        align-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 16px;
        width: 100%;
        margin: 0 auto;
    }
    #our-team .card {
        display: inline-table;
        width: 90%;
        box-shadow: 1px 1px 10px rgba(190, 194, 187, 0.6);
        margin: 10px 5px 20px 2px;
        border-radius: 5px;
        padding: 10px;
    }
    #our-experties {
        text-align: center;
        padding: 30px 1px 30px 1px;
    }
    #our-experties .title {
        color: #40423F;
        text-transform: capitalize;
    }
    #our-experties .description {
        width: 100%;
        margin: 0 auto;
    }
    #our-experties .card {
        display: inline-table;
        width: 90%;
        margin: 50px 5px 30px 5px;
        padding: 10px 5px 20px 5px;
        box-shadow: 1px 1px 10px rgba(190, 194, 187, 0.6);
        border-radius: 4px;
    }
    #our-experties .card:hover {
        box-shadow: 1px 1px 10px rgba(56, 150, 6, 1);
    }
    #our-experties .card i {
        color: rgba(56, 150, 6, 1);
        font-size: 46px;
        margin-bottom: 20px;
    }
    #our-experties .card h1 {
        font-size: 20px;
        color: rgba(56, 150, 6, 1);
        text-transform: capitalize;
        margin-bottom: 20px;
    }
    #our-experties .card p {
        font-size: 14px;
        text-align: center;
    }
    #blog {
        text-align: center;
        padding: 30px 1px 30px 1px;
    }
    #blog .description {
        color: #40423F;
        text-transform: capitalize;
        opacity: 0.7;
        width: 100%;
        margin: 0 auto;
    }
    #blog .card {
        display: inline-table;
        position: relative;
        margin: 50px 2px 10px 2px;
        height: 500px;
        width: 90%;
        background-size: 100% 40%;
        padding: 10px 10px 20px 10px;
        box-shadow: 1px 1px 10px rgba(190, 194, 187, 0.6);
        border-radius: 5px;
    }
    #blog .card:nth-child(3) {
        display: inline-table;
        position: relative;
        margin: 30px 2px 10px 2px;
        height: 490px;
        width: 90%;
        background-size: 100% 30%;
        padding: 10px 10px 20px 10px;
        box-shadow: 1px 1px 10px rgba(190, 194, 187, 0.6);
    }
    #blog .card:nth-child(6) {
        display: inline-table;
        position: relative;
        margin: 30px 2px 10px 2px;
        height: 490px;
        width: 90%;
        background-size: 100% 30%;
        padding: 10px 10px 20px 10px;
        box-shadow: 1px 1px 10px rgba(190, 194, 187, 0.6);
    }
    #blog .card:hover {
        box-shadow: 1px 1px 10px rgba(56, 150, 6, 1);
        transition: 0.5s ease-in-out;
    }
    #blog .card .card-main {
        position: absolute;
        top: 50%;
        text-align: left;
        padding: 1px 10px 1px 10px;
    }
    #blog .card .card-main h1 {
        font-size: 20px;
        color: #40423F;
        text-transform: capitalize;
    }
    #blog .card .card-main p {
        margin-top: 20px;
    }
    #blog .card .card-main .info {
        margin-top: 20px;
        width: 100%;
        height: 20px;
    }
    #blog .card .card-main .info h1 {
        float: left;
        color: #40423F;
        opacity: 0.6;
    }
    #blog .card .card-main .info p {
        float: right;
    }
    #blog .card .card-main a {
        color: rgba(56, 150, 6, 1);
        text-decoration: none;
        text-transform: capitalize;
    }
    #blog .card .card-main a:hover {
        text-decoration: underline;
        text-transform: capitalize;
        transition: 0.5s step-end;
    }
    footer {
        position: relative;
        height: auto;
        background: rgba(56, 150, 6, 1);
        padding-bottom: 20px;
    }
    footer .footer-header {
        top: 30%;
        display: block;
        margin-top: 20px;
    }
    footer .footer-header h1 {
        font-family: 'roboto';
        font-size: 16px;
        text-transform: capitalize;
    }
    footer .footer-header .footer-link {
        width: 90%;
        margin: 10px 20px 5px 20px;
    }
    footer .footer-header .footer-link li {
        display: inline-table;
        margin-left: 10px;
    }
    footer .footer-header .footer-link li a {
        color: #f1f1f1;
        opacity: 0.7;
        text-decoration: none;
        font-family: 'roboto';
        font-size: 14px;
        text-transform: capitalize;
        font-weight: normal;
    }
    footer .footer-header .footer-link li a:hover {
        text-decoration: underline;
    }
    footer .row {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        height: 200px;
    }
    footer li {
        display: inline;
    }
    footer li i {
        color: #f1f1f1;
        font-size: 30px;
        margin-left: 20px;
        opacity: 0.8;
    }
    footer li a {
        display: inline;
    }
    footer .description p {
        color: #f1f1f1;
        text-transform: capitalize;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    #our-address {
        text-align: center;
        padding: 0px;
    }
    #our-address .description {
        float: none;
        width: 90%;
        text-align: left;
    }
    #our-address .description h1 {
        color: #40423F;
        text-transform: capitalize;
        opacity: 0.8;
        margin-bottom: 10px
    }
    #our-address .description p {
        font-size: 14px;
        color: #40423F;
        text-transform: capitalize;
        opacity: 0.8;
        margin-bottom: 10px;
    }
    #our-address .description li {
        margin-top: 10px;
    }
    #our-address .description li i {
        font-size: 20px;
    }
    #our-address form {
        float: none;
        width: 90%;
        box-shadow: 1px 1px 8px rgba(56, 150, 6, 1);
        padding: 10px;
        margin: 10px 5px 10px 5px;
        border-radius: 5px;
    }
    #our-address form input[type="text"] {
        width: 90%;
        height: 30px;
        margin: 10px;
        border-radius: 5px;
        border: 0;
        padding: 5px;
        text-transform: capitalize;
    }
    #our-address form #message {
        height: 80px;
        width: 90%;
    }
}